* {
    margin: 0;
    padding: 0;
}

body {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightblue;
    text-align: center;
    font-family: 'Outfit', sans-serif;
font-size: 15px;
}

.card {
    display: grid;
    grid-template-rows: 2fr 1fr;
    height: 450px;
    width: 250px;
    border-radius: 20px;
    padding: 20px;
    background-color: white;
}

.qr-img-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.qr-img {
    height: 250px;
    width: 250px;
    border-radius: 20px;
}

.bold-text {
    font-weight: 700;
    font-size: 1.2rem;
    padding-bottom: 15px;
}

.card-text {
    padding: 0 10px; 
}